<nav class="navbar navbar-default navbar-fixed-top background-f8f8f8">
  <div class="header-line"></div>
  <a href="#">
    <div class="wrapper animated flip" style="background: url('/assets/logo.bmp')no-repeat center center;">
    </div>
  </a>
</nav>